*{
    margin: 0;
    padding: 0;
    
}

.nav{
    
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100vw;
    
    
    
}

nav{
    margin: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
}
nav img{
    width: 5%;
    height:2.5%;
    margin-right: auto;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

nav ul li a{

    color: aliceblue;
    font-family: "Josefin Sans", sans-serif ;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    transition: .5s;

}

nav ul li a:hover{
    
    cursor: pointer;
    color: #8BF3A6;
    transform: scale(80%);
}

#Home{

    height: 100vh;
    background:  url("https://c.pxhere.com/photos/f6/d2/canola_fields_green_rolling_hills_agriculture_farm_landscape_crop_summer-1361384.jpg!d") ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

#Home .hub{
    
    font-family: "Josefin Sans", sans-serif;
    height: 200px;
    width: 420px;
    background-color: #0A872C;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    color: #FFFF;
    border-radius: 10px;
    

    
    
}
.hub h1{
font-size: 48px;
margin-bottom: 10px;

}

.hub h2{
    font-size: 15px;

}

a{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a.start {

    text-decoration: none;
    transition: .5s;
    font-weight: 700;
    margin-top: 10px;
    color: #054e19;
    background-color: #8BF3A6;
    font-size: 32px;
    height: 40px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 68px;
    border: transparent;
    
   
}

a.start:hover{
    cursor: pointer;
    color: #8BF3A6;
    background-color: #054e19;
    transform: translateY(-5%);
}