*{
    margin: 0;
    padding: 0;
    
}

body{
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav{
    
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100vw;
    align-items: flex-start;
    justify-content: flex-end;
    
    
}

nav{
    margin: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav img{
    width: 5%;
    height:2.5%;
    margin-right: auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{

    color: aliceblue;
    font-family: "Josefin Sans", sans-serif ;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    transition: .5s;

}

nav ul li a:hover{
    
    cursor: pointer;
    color: #8BF3A6;
    transform: scale(80%);
}

main{
    padding: min(30px, 7%) ;
}

main p{
    
    margin-top: 5px;
    margin-bottom: 15px;
}

main .container{
    border:  1px solid;
    border-radius:  1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2, p { margin-top: 1em;}
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: #8BF3A6;
    border-right: 1px solid;

    position: sticky;
    top: 0;
    align-self: start;
}

#sidebar{
    list-style: none;

}

#sidebar li:first-child{
    display: flex;
    justify-content:flex-end;
    margin-bottom: 16px;

}

#sidebar a, #sidebar .dropdown-btn{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background:none;
    border: none;
    font: inherit;
    cursor: pointer;
}