body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: "Josefin Sans", sans-serif;

    height: 100vh;
    background:  url("https://c.pxhere.com/photos/f6/d2/canola_fields_green_rolling_hills_agriculture_farm_landscape_crop_summer-1361384.jpg!d") ;
    background-size: cover;
    
}


.hub {
display: flex;
flex-direction: column;
gap: 15px;
width: 320px;
padding: 25px;
background: #0A872C;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
text-align: center;
text-transform: uppercase;
color: #FFFF;
}


.data {
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
}

.data label{
    margin-right: auto;
}


input[type="text"] {
padding: 10px;
border-radius: 6px;
border: 1px solid #ccc;
font-size: 15px;
}


a{
    margin-top: 5px;
    padding: 10px; 
    background-color: #285443;
    margin: 10px;
    border-radius: 6px;
    transition: .5s;
    font-size: medium;
    font-weight: 600;
    border: transparent;
    text-transform: uppercase;
    height: 20px;
    color: #E0EFE5;
    text-decoration: none;
    transition: .5s;
}

a:hover{
     cursor: pointer;
    color: #285443;
    background-color: #E0EFE5;
    transform: translateY(-5%)
    
}


#remember {
margin-top: 10px;
}


.bottom {
margin-top: 10px;
}

/*  
body{


   
    
}

.hub{
    font-family: "Josefin Sans", sans-serif;
    height: fit-content;
    width: 400px;
    background-color: #0A872C;
    text-transform: uppercase;
    color: #FFFF;
    border-radius: 2mm;
    padding: 10px;
}

.hub .tittle{
font-size: 48px;

}

.hub .data label{
   font-size: 12px;
   
}

.hub .data input{
    width: 375px;
    height: 30px;
    margin: 5px;
    border: transparent;
    border-radius: 1em;
    background-color: #D9D9D9;

}

.bottom{
    font-size: 10px;
    display: flex;
    margin: 10px;
}

.data{
    display: flex;
    flex-direction: column;
}





