*{
    margin: 0;
    padding: 0;
    
}

nav{
    
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100vw;
    display: flex;
    gap: 2em;
    align-items: center;
    
    
    
}

nav nav{
    margin: 10;
    
    gap: 10px   ;
    
}
nav img{
    width: 5%;
    height:2.5%;
    margin-right: auto;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{

    color: aliceblue;
    font-family: "Josefin Sans", sans-serif ;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    transition: .5s;

}

nav ul li a:hover{
    
    cursor: pointer;
    color: #8BF3A6;
    transform: scale(80%);
}

#Home{

    height: 100vh;
    background:  url("https://c.pxhere.com/photos/f6/d2/canola_fields_green_rolling_hills_agriculture_farm_landscape_crop_summer-1361384.jpg!d") ;
    background-size: cover;
    display: flex;
    align-items: center;
   justify-content: center;

   
    
}

#Home .hub{
    
    font-family: "Josefin Sans", sans-serif;
    height: fit-content;
    width: 400px;
    background-color: #0A872C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    color: #FFFF;
    border-radius: 2mm;
    box-sizing: border-box;
    

    
    
}
.hub .tittle{
font-size: 48px;
margin: 2px;

}

.hub .data label{
   align-self: flex-start;
   padding: 2mm;
   font-size: 12px;
   border-radius: 1em;
}

.hub .data input{
    display: flex;
    justify-self: center;
    width: 380px;
    height: 25px;
    margin: 5px;

}

.hub .bottom{
    display: flex;
    flex-direction: column;

}

.bottom input{
    margin-right: auto;
}




