body{
    
    background: url("../Images/pexels-silvana-palacios-2013790-3635870.jpg");
    background-size: cover;
}

.view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-transform: uppercase;
    color: #fff;
}


.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


#profilePic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid ;
}

#changePicBtn{

    width: 100%;
    padding: 10px;
    background: #285443;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

#changePicBtn:hover{
    cursor: pointer;
    transform: scale(102%);
}


#configForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;

}
#configForm label{
    margin-right: auto;
    font-weight: 600;
}
#configForm input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: .5s ;
}

#configForm input:hover{
    border: 2px solid green;
    cursor: pointer;
}


#configForm a,
#configForm .back {
    width: 100%;
    padding: 10px;
    background: #285443;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;

}

#configForm a:hover{
    transform: scale(105%);
    cursor: pointer;
}

#configForm .back {
    background: #444;
}

.hidden{
    display: none;
}