body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background: #013004;
}


.sidebar {
    width: 250px;
    background: rgb(4, 93, 34);
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    border-radius: 0 6mm 6mm 0;
    border: 2px solid rgb(1, 41, 1);

}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: .5s;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar a:hover {
    color: rgb(9, 150, 68);
}


.content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    display: grid;
    padding: 100px;
    text-transform: uppercase;
    
}

#taskForm {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}



#taskForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    transition: .5s ;
    font-weight: 600;
}

#taskForm button:hover {
    background-color: white;
    color: #4caf50;

}


#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    background: #f3f3f3;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: #e53935;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background: #c62828;
}
svg{
    margin-right: 10px;
    transition: .5s;
}

svg:hover{
    fill: #4caf50;
    transform: scale(125%);
}

svg.Reports{
    margin-right: 10px;
    transition: .5s;
}

svg.Reports:hover{
    fill: #4caf50;
    transform: scaleY(150%);
}

svg.Config{
    
    transition:.5s;
    margin-right: 10px;
                
                
}
svg.Config:hover{
    fill: rgb(9, 150, 68);
    transform: rotateZ(360deg);
}
