
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #0b1f16;
}


.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('https://images.pexels.com/photos/15279267/pexels-photo-15279267.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.5)
  );
}


.contenido {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 40px;
}


.titulo {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 10px;
}


.subtitulo {
  font-size: 18px;
  color: #dcdcdc;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


.card {
  text-decoration: none;
  color: white;
  padding: 40px 20px;
  border-radius: 18px;
  font-size: 22px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
  backdrop-filter: blur(8px);
  border: 2px solid rgba(255,255,255,0.2);
}


.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}


.ranking {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
}


.puntos {
  background: linear-gradient(135deg, #43a047, #a5d6a7);
  color: #0b1f16;
}


.escanear {
  background: linear-gradient(135deg, #1b5e20, #388e3c);
}

.config {
  background: linear-gradient(135deg, #78af7b, #205c23);
}


.ecobot {
  background: linear-gradient(135deg, #43a047, #276d2a);
  color: #0b1f16;
}


.log-off {
  background: linear-gradient(135deg, #2d8a33, #1c501e);
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .titulo {
    font-size: 42px;
  }
}