*{
    margin: 0;
    padding: 0;
}
.nav{
    
    backdrop-filter: blur(5px);
    position: relative;
    width: 100vw;
    
    
    
}

nav{
    display: flex;
    
}
nav img{
    width: 5%;
    height:2.5%;
    margin-right: auto;
    margin-left: 50px;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}

nav ul li a{

    color: aliceblue;
    font-family: "Josefin Sans", sans-serif ;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    transition: .5s;

}

nav ul li a:hover{
    
    cursor: pointer;
    color: #8BF3A6;
    transform: scale(80%);
}

body{
    background:  url("../Images/H.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#Home{
    display: flex;
    flex-direction: column;
    align-items: center;

}



