body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-family: "Josefin Sans", sans-serif;
background: #0c180d;
}

.hub {
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
width: 500px;
height: fit-content;
padding: 25px;
border-radius: 12px;
text-align: center;
text-transform: uppercase;
color: #ffffff;
transition: .5s ;
margin-right: 50px;
margin-left: 50px;
box-shadow: 0 6px 14px #ffffff;
}

.hub:hover{
    box-shadow: 0 6px 14px rgb(0, 255, 13);
}


.data {
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
}

.data label{
    margin-right: auto;
}


input[type="text"] {
padding: 6px;
border-radius: 6px;
border: 2px solid #ffffff;
background: #ffffff;
font-size: 15px;
transition: .5s;
}


input[type="text"]:hover{
    cursor: pointer;
    border: 2px solid #204d11;
    
}

select{
    padding: 6px;
border-radius: 6px;
border: 2px solid #ffffff;
background: #ffffff;
font-size: 15px;
transition: .5s;
}

select:hover{
    cursor: pointer;
    border: 2px solid #204d11;
}


input[type="submit"]{
    margin-top: 5px;
    padding: 6px; 
    background-color: #285443;
    margin: 10px;
    border-radius: 6px;
    transition: .5s;
    font-size: medium;
    font-weight: 600;
    border: transparent;
    text-transform: uppercase;
    height: 20px;
    color: #E0EFE5;
    text-decoration: none;
    transition: .5s;
    
}

input[type="submit"]:hover{
     cursor: pointer;
    color: #285443;
    background-color: #E0EFE5;
    transform: translateY(-5%)
    
}


#remember {
margin-top: 10px;
}


.bottom {
margin-top: 10px;
}

#Filler{
    background:url(../ASSETS/Images/pexels-chriispr-2884864.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0 6mm 6mm 0;
    border: 1px solid;

}

#Filler h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150px;
    color: #fff;
    margin-right: auto;
    margin: 0;
    text-shadow: 0 20px 10px #000;
    padding-right: 50px;
    text-transform: uppercase;

}
#Formulary{
    font-size: 14px;
}
.tittle{
    font-size: 20px;
}
svg{
    height: 16px;
}


